{% extends "base.html" %}

{% block title %}Guy List{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Guy</th>
    <th>Owner</th>
    <th>Position</th>
    <th>Created</th>
  </tr>

  {% if guys %}
  {% for guy in guys %}
  <tr>
    <td><a href="{% url 'guy:display' guy_id=guy.id %}">{{ guy.name }}</a></td>
    <td>{{ guy.owner.username }}</td>
    <td>{{ guy.position.x }}, {{ guy.position.y }}, {{ guy.position.dir }}</td>
    <td>{{ guy.created }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="4" style="text-align: center;">No Guys</td>
  </tr>
  {% endif %}

</table>
{% endblock %}
